table {
  border: solid 1px;
}

th {
  border: solid 1px;
  background-color: whitesmoke;
}

tr:hover {
  background-color: #FFFF66;
}

td {
  border: solid 1px;
}

td:nth-child(1) {
  background-color: rgb(220 237 253);
}

.pares {
  background-color: #fdfdb7;
}

.e {
  color: #d5a256;
}

.d {
  color: green;
}

.l {
  color: cornflowerblue;
}